* {
    font-family: 'Mulish', sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background: rgba(196, 196, 196, 0.31);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.31);
    border-radius: 10px;
}